.running {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(31, 159, 22);
}

.resting {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(205, 27, 27);
}

.default {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgb(32, 213, 216);
}

.clockContainer {
  margin-top: -12vw;
  margin-bottom: -12vw;
  font-size: 12vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSmallContainer {
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSmallPlaceholder p {
  font-size: 2vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSmallPlaceholder {
  height: 5vw; /* Adjust to match the height of .timerSmallContainer */
  width: 100%; /* Adjust to match the width of .timerSmallContainer */
}

.timer {
  margin: 0;
  font-size: 25vw;
  color: white;
  font-family: Courier, "Courier New", "Lucida Sans Typewriter", monospace;
}

.timerSmall {
  margin: 0;
  font-size: 4vw;
  color: white;
  font-family: Courier, "Courier New", "Lucida Sans Typewriter", monospace;
}

.iconButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconButton {
  margin: 0.25rem 1vw;
  padding: 0.25rem 0.25rem;
  font-size: 2.5vw;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconButtonSmall {
  margin: 0 0.5vw;
  padding: 0.25rem 0.25rem;
  font-size: 1.5vw;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlsPlaceholder {
  height: 5rem; /* Adjust to match the height of .controlsContainer */
  width: 100%; /* Adjust to match the width of .controlsContainer */
}

.debug {
  margin: 0;
  font-size: small;
  color: black;
  line-height: 0.2rem;
}

.startButton {
  margin: 0vw 0vw;
  padding: 1vw 5vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  background-color: #2481eb;
  border: 0;
  border-radius: 1vw;
  cursor: pointer;
}

.stopButton {
  margin: 0vw 0vw;
  padding: 1vw 5vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  background-color: #eb3b53;
  border: 0;
  border-radius: 1vw;
  cursor: pointer;
}
