.running {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(20, 105, 14);
  background: linear-gradient(0deg, rgb(20, 105, 14) 0%, rgb(29, 209, 38) 100%);
}

.resting {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(131, 8, 8);
  background: linear-gradient(0deg, rgb(131, 8, 8) 0%, rgb(255, 31, 31) 100%);
}

.default {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(45, 253, 209, 1) 100%
  );
}

.timerContainer {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSmallContainer {
  height: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSmallPlaceholder p {
  font-size: 2vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerSmallPlaceholder {
  height: 5vw; /* Adjust to match the height of .timerSmallContainer */
  width: 100%; /* Adjust to match the width of .timerSmallContainer */
}

.timer {
  margin: 0;
  font-size: 20vw;
  color: white;
  font-family: Courier, "Courier New", monospace;
}

.timerSmall {
  margin: 0;
  font-size: 8vw;
  color: white;
  font-family: Courier, "Courier New", monospace;
}

.iconButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.iconButton {
  margin: 0.25rem 1vw;
  padding: 0.25rem 0.25rem;
  font-size: 2.5vw;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.iconButtonSmall {
  margin: 0.25rem 1vw;
  padding: 0.25rem 0.25rem;
  font-size: 2vw;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.controlsContainer {
  height: 5rem;
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlsPlaceholder {
  height: 5rem; /* Adjust to match the height of .controlsContainer */
  width: 100%; /* Adjust to match the width of .controlsContainer */
}

.debug {
  margin: 0;
  font-size: small;
  color: black;
  line-height: 0.2rem;
}

.startButton {
  margin: 0vw 0vw;
  padding: 1vw 5vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  background-color: #2481eb;
  border: 0;
  border-radius: 1vw;
  cursor: pointer;
}

.stopButton {
  margin: 0vw 0vw;
  padding: 1vw 5vw;
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  background-color: #eb3b53;
  border: 0;
  border-radius: 1vw;
  cursor: pointer;
}
